/* .navbar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .navbar-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-item:last-child {
    margin-right: 0;
  } */

  .header-menu {
    background-color: #242838;
}

.header-menu .nav-link a, .header-menu .navbar-brand a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff!important;
    font-size: 30px;
}

.header-menu .nav-link.active a, .header-menu .navbar-brand.active a {
    color: yellowgreen!important;
    border-bottom: 2px solid;
}